registry=https://pkgs.dev.azure.com/CLADevOps/Development/_packaging/cla_npm/npm/registry/

; begin auth token
//pkgs.dev.azure.com/CLADevOps/Development/_packaging/cla_npm/npm/registry/:username=CLADevOps
//pkgs.dev.azure.com/CLADevOps/Development/_packaging/cla_npm/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/CLADevOps/Development/_packaging/cla_npm/npm/registry/:email=cla@claconnect.com
//pkgs.dev.azure.com/CLADevOps/Development/_packaging/cla_npm/npm/:username=CLADevOps
//pkgs.dev.azure.com/CLADevOps/Development/_packaging/cla_npm/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/CLADevOps/Development/_packaging/cla_npm/npm/:email=cla@claconnect.com
; end auth token