flyway.url=jdbc:sqlserver://localhost:1433;databaseName=<AppName>Db;encrypt=true;trustServerCertificate=true
flyway.user=sa
flyway.password=Change_Me_123!
flyway.locations=filesystem:./migrations
flyway.baselineOnMigrate=true
